swagger: '2.0'

info:
  version: 1.0.0
  title: godev2022desafio
  x-senior-domain: godev
  x-senior-domain-path: godev
  x-senior-service-path: godev2022desafio
  contact:
    name: Senior X Platform
    url: https://dev.senior.com.br
    email: seniorx-dev@senior.com.br

host: platform.senior.com.br

basePath: /t/senior.com.br/bridge/1.0/rest/godev

securityDefinitions:
   APIKeyHeader:
     type: apiKey
     in: header
     name: Authorization

security:
  - APIKeyHeader: []

produces:
  - application/json
consumes:
  - application/json

paths:
  /godev2022desafio/queries/getDoctorForSpeciality:
    post:
      description: "Responsável por obter Médicos por especialidade"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - speciality
            properties:
              speciality:
                type: string
                description: "Especialidade do médico"
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - doctor
            properties:
              doctor:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/doctor'
                  minimum: 1
                description: "retorno"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Responsável por obter Médicos por especialidade"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: speciality
          description: "Especialidade do médico"
          in: query
          required: true
          type: string
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - doctor
            properties:
              doctor:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/doctor'
                  minimum: 1
                description: "retorno"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /godev2022desafio/queries/getPrescriptionsForDoctor:
    post:
      description: "Responsável por obter prescrições por nome do médico"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            properties:
              name:
                type: string
                description: "Nome do médico"
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - prescription
            properties:
              prescription:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/prescription'
                  minimum: 1
                description: "Resultado das prescricoes vinculadas ao nome do médico"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Responsável por obter prescrições por nome do médico"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: name
          description: "Nome do médico"
          in: query
          type: string
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - prescription
            properties:
              prescription:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/prescription'
                  minimum: 1
                description: "Resultado das prescricoes vinculadas ao nome do médico"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /godev2022desafio/queries/getMetadata:
    post:
      description: "Default 'getMetadata' query. Every service must handle this command and return metadata in the format requested."
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            properties:
              metadataFormat:
                type: string
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - metadata
            properties:
              metadata:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Default 'getMetadata' query. Every service must handle this command and return metadata in the format requested."
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: metadataFormat
          description: ""
          in: query
          type: string
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - metadata
            properties:
              metadata:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /godev2022desafio/queries/exportPatient:
    post:
      description: ""
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/exportConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - exportJobId
            properties:
              exportJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /godev2022desafio/queries/exportDoctor:
    post:
      description: ""
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/exportConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - exportJobId
            properties:
              exportJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /godev2022desafio/queries/exportPrescription:
    post:
      description: ""
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/exportConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - exportJobId
            properties:
              exportJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /godev2022desafio/queries/exportResponsibleFamilyMember:
    post:
      description: ""
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/exportConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - exportJobId
            properties:
              exportJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /godev2022desafio/queries/getDependencies:
    post:
      description: "Returns a list with all dependencies from this service, along with their respective versions"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - dependencies
            properties:
              dependencies:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/dependency'
                  minimum: 1
                description: "List with this service dependencies"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Returns a list with all dependencies from this service, along with their respective versions"
      tags:
        - Queries
      x-senior-visibility: PRIVATE
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - dependencies
            properties:
              dependencies:
                type: array
                items:
                  type: object
                  allOf:
                   - $ref: '#/definitions/dependency'
                  minimum: 1
                description: "List with this service dependencies"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  /godev2022desafio/actions/alterStatusPatient:
    post:
      description: "Responsável por alterar status do paciente para ativo"
      tags:
        - Actions
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - id
            properties:
              id:
                type: string
                description: "Id do paciente"
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - patient
            properties:
              patient:
                type: object
                allOf:
                 - $ref: '#/definitions/patientResponse'
                description: "Resposta da alteracao do status do paciente"
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /godev2022desafio/actions/odata:
    post:
      description: ""
      tags:
        - Actions
      x-senior-visibility: PRIVATE
      responses:
        204:
          description: No response
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /godev2022desafio/actions/importPatient:
    post:
      description: ""
      tags:
        - Actions
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/importConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - importJobId
            properties:
              importJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /godev2022desafio/actions/importDoctor:
    post:
      description: ""
      tags:
        - Actions
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/importConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - importJobId
            properties:
              importJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /godev2022desafio/actions/importPrescription:
    post:
      description: ""
      tags:
        - Actions
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/importConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - importJobId
            properties:
              importJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /godev2022desafio/actions/importResponsibleFamilyMember:
    post:
      description: ""
      tags:
        - Actions
      x-senior-visibility: PRIVATE
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - config
            properties:
              config:
                type: object
                allOf:
                 - $ref: '#/definitions/importConfig'
                description: ""
      responses:
        200:
          description: Ok
          schema:
            type: object
            required:
              - importJobId
            properties:
              importJobId:
                type: string
                description: ""
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  /godev2022desafio/events/patientAdmitted:
    post:
      description: "Evento responsável por declarar que paciente foi admitido"
      x-senior-event: true
      tags:
        - Events
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - id
              - name
            properties:
              id:
                type: string
                description: "Id do paciente"
              name:
                type: string
                description: "Nome do paciente"
      responses:
        200:
          description: OK
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /godev2022desafio/events/importPatientEvent:
    post:
      description: ""
      x-senior-event: true
      tags:
        - Events
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - eventpl
            properties:
              eventpl:
                type: object
                allOf:
                 - $ref: '#/definitions/importEventStatus'
                description: ""
      responses:
        200:
          description: OK
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /godev2022desafio/events/exportPatientEvent:
    post:
      description: ""
      x-senior-event: true
      tags:
        - Events
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - eventpl
            properties:
              eventpl:
                type: object
                allOf:
                 - $ref: '#/definitions/exportEventStatus'
                description: ""
      responses:
        200:
          description: OK
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /godev2022desafio/events/importDoctorEvent:
    post:
      description: ""
      x-senior-event: true
      tags:
        - Events
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - eventpl
            properties:
              eventpl:
                type: object
                allOf:
                 - $ref: '#/definitions/importEventStatus'
                description: ""
      responses:
        200:
          description: OK
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /godev2022desafio/events/exportDoctorEvent:
    post:
      description: ""
      x-senior-event: true
      tags:
        - Events
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - eventpl
            properties:
              eventpl:
                type: object
                allOf:
                 - $ref: '#/definitions/exportEventStatus'
                description: ""
      responses:
        200:
          description: OK
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /godev2022desafio/events/importPrescriptionEvent:
    post:
      description: ""
      x-senior-event: true
      tags:
        - Events
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - eventpl
            properties:
              eventpl:
                type: object
                allOf:
                 - $ref: '#/definitions/importEventStatus'
                description: ""
      responses:
        200:
          description: OK
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /godev2022desafio/events/exportPrescriptionEvent:
    post:
      description: ""
      x-senior-event: true
      tags:
        - Events
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - eventpl
            properties:
              eventpl:
                type: object
                allOf:
                 - $ref: '#/definitions/exportEventStatus'
                description: ""
      responses:
        200:
          description: OK
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /godev2022desafio/events/importResponsibleFamilyMemberEvent:
    post:
      description: ""
      x-senior-event: true
      tags:
        - Events
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - eventpl
            properties:
              eventpl:
                type: object
                allOf:
                 - $ref: '#/definitions/importEventStatus'
                description: ""
      responses:
        200:
          description: OK
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /godev2022desafio/events/exportResponsibleFamilyMemberEvent:
    post:
      description: ""
      x-senior-event: true
      tags:
        - Events
      parameters:
        - name: input
          in: body
          required: true
          schema:
            type: object
            required:
              - eventpl
            properties:
              eventpl:
                type: object
                allOf:
                 - $ref: '#/definitions/exportEventStatus'
                description: ""
      responses:
        200:
          description: OK
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  /godev2022desafio/entities/patient:
    post:
      description: "Esta entidade pode ser customizada."
      tags:
        - CRUD
      x-senior-visibility: PRIVATE
      parameters:
        - name: entity
          in: body
          required: true
          schema:
            type: object
            allOf:
             - $ref: '#/definitions/patient'
      responses:
        200:
          description: 'The created resource'
          schema:
            $ref: '#/definitions/patient'
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    patch:
      description: "Esta entidade pode ser customizada."
      tags:
        - CRUD
      x-senior-visibility: PRIVATE
      parameters:
        - name: entity
          in: body
          required: true
          schema:
            type: object
            allOf:
             - $ref: '#/definitions/patient'
      responses:
        200:
          description: 'The created resource'
          schema:
            $ref: '#/definitions/patient'
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Esta entidade pode ser customizada."
      tags:
        - CRUD
      x-senior-visibility: PRIVATE
      parameters:
        - name: offset
          in: query
          type: number
        - name: size
          in: query
          type: number
      responses:
        200:
          description: Ok
          schema:
            type: array
            items:
              $ref: '#/definitions/patient'
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /godev2022desafio/entities/patient/{id}:
    put:
      description: "Esta entidade pode ser customizada."
      tags:
        - CRUD
      x-senior-visibility: PRIVATE
      parameters:
        - name: id
          in: path
          required: true
          type: string
        - name: entity
          in: body
          required: true
          schema:
            $ref: '#/definitions/patient'
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/patient'
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    patch:
      description: "Esta entidade pode ser customizada."
      tags:
        - CRUD
      x-senior-visibility: PRIVATE
      parameters:
        - name: id
          in: path
          required: true
          type: string
        - name: entity
          in: body
          required: true
          schema:
            $ref: '#/definitions/patient'
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/patient'
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Esta entidade pode ser customizada."
      tags:
        - CRUD
      x-senior-visibility: PRIVATE
      parameters:
        - name: id
          in: path
          required: true
          type: string
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/patient'
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    delete:
      description: "Esta entidade pode ser customizada."
      tags:
        - CRUD
      x-senior-visibility: PRIVATE
      parameters:
        - name: id
          in: path
          required: true
          type: string
      responses:
        200:
          description: Ok
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /godev2022desafio/entities/patient/bulk:
    post:
      description: "Esta entidade pode ser customizada."
      tags:
        - Bulk
      parameters:
        - name: entities
          in: body
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/patient'
      responses:
        200:
          description: 'The bulk creation has created resources'
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /godev2022desafio/entities/doctor:
    post:
      description: "Esta entidade pode ser customizada."
      tags:
        - CRUD
      x-senior-visibility: PRIVATE
      parameters:
        - name: entity
          in: body
          required: true
          schema:
            type: object
            allOf:
             - $ref: '#/definitions/doctor'
      responses:
        200:
          description: 'The created resource'
          schema:
            $ref: '#/definitions/doctor'
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    patch:
      description: "Esta entidade pode ser customizada."
      tags:
        - CRUD
      x-senior-visibility: PRIVATE
      parameters:
        - name: entity
          in: body
          required: true
          schema:
            type: object
            allOf:
             - $ref: '#/definitions/doctor'
      responses:
        200:
          description: 'The created resource'
          schema:
            $ref: '#/definitions/doctor'
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Esta entidade pode ser customizada."
      tags:
        - CRUD
      x-senior-visibility: PRIVATE
      parameters:
        - name: offset
          in: query
          type: number
        - name: size
          in: query
          type: number
      responses:
        200:
          description: Ok
          schema:
            type: array
            items:
              $ref: '#/definitions/doctor'
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /godev2022desafio/entities/doctor/{id}:
    put:
      description: "Esta entidade pode ser customizada."
      tags:
        - CRUD
      x-senior-visibility: PRIVATE
      parameters:
        - name: id
          in: path
          required: true
          type: string
        - name: entity
          in: body
          required: true
          schema:
            $ref: '#/definitions/doctor'
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/doctor'
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    patch:
      description: "Esta entidade pode ser customizada."
      tags:
        - CRUD
      x-senior-visibility: PRIVATE
      parameters:
        - name: id
          in: path
          required: true
          type: string
        - name: entity
          in: body
          required: true
          schema:
            $ref: '#/definitions/doctor'
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/doctor'
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Esta entidade pode ser customizada."
      tags:
        - CRUD
      x-senior-visibility: PRIVATE
      parameters:
        - name: id
          in: path
          required: true
          type: string
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/doctor'
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    delete:
      description: "Esta entidade pode ser customizada."
      tags:
        - CRUD
      x-senior-visibility: PRIVATE
      parameters:
        - name: id
          in: path
          required: true
          type: string
      responses:
        200:
          description: Ok
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /godev2022desafio/entities/doctor/bulk:
    post:
      description: "Esta entidade pode ser customizada."
      tags:
        - Bulk
      parameters:
        - name: entities
          in: body
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/doctor'
      responses:
        200:
          description: 'The bulk creation has created resources'
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /godev2022desafio/entities/prescription:
    post:
      description: "Esta entidade pode ser customizada."
      tags:
        - CRUD
      x-senior-visibility: PRIVATE
      parameters:
        - name: entity
          in: body
          required: true
          schema:
            type: object
            allOf:
             - $ref: '#/definitions/prescription'
      responses:
        200:
          description: 'The created resource'
          schema:
            $ref: '#/definitions/prescription'
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    patch:
      description: "Esta entidade pode ser customizada."
      tags:
        - CRUD
      x-senior-visibility: PRIVATE
      parameters:
        - name: entity
          in: body
          required: true
          schema:
            type: object
            allOf:
             - $ref: '#/definitions/prescription'
      responses:
        200:
          description: 'The created resource'
          schema:
            $ref: '#/definitions/prescription'
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Esta entidade pode ser customizada."
      tags:
        - CRUD
      x-senior-visibility: PRIVATE
      parameters:
        - name: offset
          in: query
          type: number
        - name: size
          in: query
          type: number
      responses:
        200:
          description: Ok
          schema:
            type: array
            items:
              $ref: '#/definitions/prescription'
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /godev2022desafio/entities/prescription/{id}:
    put:
      description: "Esta entidade pode ser customizada."
      tags:
        - CRUD
      x-senior-visibility: PRIVATE
      parameters:
        - name: id
          in: path
          required: true
          type: string
        - name: entity
          in: body
          required: true
          schema:
            $ref: '#/definitions/prescription'
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/prescription'
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    patch:
      description: "Esta entidade pode ser customizada."
      tags:
        - CRUD
      x-senior-visibility: PRIVATE
      parameters:
        - name: id
          in: path
          required: true
          type: string
        - name: entity
          in: body
          required: true
          schema:
            $ref: '#/definitions/prescription'
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/prescription'
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Esta entidade pode ser customizada."
      tags:
        - CRUD
      x-senior-visibility: PRIVATE
      parameters:
        - name: id
          in: path
          required: true
          type: string
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/prescription'
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    delete:
      description: "Esta entidade pode ser customizada."
      tags:
        - CRUD
      x-senior-visibility: PRIVATE
      parameters:
        - name: id
          in: path
          required: true
          type: string
      responses:
        200:
          description: Ok
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /godev2022desafio/entities/prescription/bulk:
    post:
      description: "Esta entidade pode ser customizada."
      tags:
        - Bulk
      parameters:
        - name: entities
          in: body
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/prescription'
      responses:
        200:
          description: 'The bulk creation has created resources'
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /godev2022desafio/entities/responsibleFamilyMember:
    post:
      description: "Esta entidade pode ser customizada."
      tags:
        - CRUD
      x-senior-visibility: PRIVATE
      parameters:
        - name: entity
          in: body
          required: true
          schema:
            type: object
            allOf:
             - $ref: '#/definitions/responsibleFamilyMember'
      responses:
        200:
          description: 'The created resource'
          schema:
            $ref: '#/definitions/responsibleFamilyMember'
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    patch:
      description: "Esta entidade pode ser customizada."
      tags:
        - CRUD
      x-senior-visibility: PRIVATE
      parameters:
        - name: entity
          in: body
          required: true
          schema:
            type: object
            allOf:
             - $ref: '#/definitions/responsibleFamilyMember'
      responses:
        200:
          description: 'The created resource'
          schema:
            $ref: '#/definitions/responsibleFamilyMember'
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Esta entidade pode ser customizada."
      tags:
        - CRUD
      x-senior-visibility: PRIVATE
      parameters:
        - name: offset
          in: query
          type: number
        - name: size
          in: query
          type: number
      responses:
        200:
          description: Ok
          schema:
            type: array
            items:
              $ref: '#/definitions/responsibleFamilyMember'
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /godev2022desafio/entities/responsibleFamilyMember/{id}:
    put:
      description: "Esta entidade pode ser customizada."
      tags:
        - CRUD
      x-senior-visibility: PRIVATE
      parameters:
        - name: id
          in: path
          required: true
          type: string
        - name: entity
          in: body
          required: true
          schema:
            $ref: '#/definitions/responsibleFamilyMember'
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/responsibleFamilyMember'
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    patch:
      description: "Esta entidade pode ser customizada."
      tags:
        - CRUD
      x-senior-visibility: PRIVATE
      parameters:
        - name: id
          in: path
          required: true
          type: string
        - name: entity
          in: body
          required: true
          schema:
            $ref: '#/definitions/responsibleFamilyMember'
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/responsibleFamilyMember'
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    get:
      description: "Esta entidade pode ser customizada."
      tags:
        - CRUD
      x-senior-visibility: PRIVATE
      parameters:
        - name: id
          in: path
          required: true
          type: string
      responses:
        200:
          description: Ok
          schema:
            $ref: '#/definitions/responsibleFamilyMember'
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
    delete:
      description: "Esta entidade pode ser customizada."
      tags:
        - CRUD
      x-senior-visibility: PRIVATE
      parameters:
        - name: id
          in: path
          required: true
          type: string
      responses:
        200:
          description: Ok
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  
  /godev2022desafio/entities/responsibleFamilyMember/bulk:
    post:
      description: "Esta entidade pode ser customizada."
      tags:
        - Bulk
      parameters:
        - name: entities
          in: body
          required: true
          schema:
            type: array
            items:
              $ref: '#/definitions/responsibleFamilyMember'
      responses:
        200:
          description: 'The bulk creation has created resources'
        401:
          description: "Invalid Credentials"
        default:
          description: Error response
          schema:
            $ref: '#/definitions/genericError'
  

definitions:
  precriptionType:
    description: "Tipo de receita"
    type: string
    enum:
      - YELLOW
      - BLUE
      - WHITE
  
  
  userNotificationKind:
    description: "User notification kind."
    type: string
    enum:
      - Operational
      - Management
      - News
  
  
  userNotificationPriority:
    description: "User notification priority."
    type: string
    enum:
      - Error
      - Alert
      - None
  
  
  eventEmailFormat:
    description: "Format of the email"
    type: string
    enum:
      - HTML
      - PLAIN_TEXT
  
  
  fieldType:
    description: ""
    type: string
    enum:
      - BINARY
      - BOOLEAN
      - DATE
      - DATETIME
      - DOUBLE
      - ENUM
      - INTEGER
      - MONEY
      - STRING
      - TIME
  
  
  fileFormat:
    description: ""
    type: string
    enum:
      - CSV
      - FLAT
      - JSON
      - XML
  
  
  hookFunction:
    description: ""
    type: string
    enum:
      - BEFORE_PARSE
      - BEFORE_CONVERSION
      - ON_ERROR
      - VALIDATE
  
  
  eventType:
    description: ""
    type: string
    enum:
      - CHUNK
      - DOWNLOAD
      - ERROR
      - FINISH
      - START
  
  
  errorStrategy:
    description: ""
    type: string
    enum:
      - CALL_SCRIPT
      - IGNORE
      - STOP
  
  
  status:
    description: ""
    type: string
    enum:
      - DONE
      - DONE_WITH_ERRORS
      - DOWNLOADING
      - ERROR
      - NOT_STARTED
      - RUNNING
  
  
  errorType:
    description: ""
    type: string
    enum:
      - CONVERT_ERROR
      - SERVICE_ERROR
  
  patientResponse:
    description: "Retorno de usuario ativo"
    type: object
    required:
      - name
      - isAtivo
    properties:
      name:
        type: string
        description: "Nome do paciente"
      isAtivo:
        type: boolean
        description: "Status do paciente"
  
  patient:
    description: "Paciente"
    type: object
    required:
      - name
      - address
      - phone
    properties:
      id:
        type: string
        format: uuid
        description: "Id do paciente"
      name:
        type: string
        description: "Nome do paciente"
      cpf:
        type: string
        description: "CPF do paciente"
      address:
        type: string
        description: "Endereco Paciente"
      phone:
        type: integer
        format: int64
        description: "Telefone do paciente"
      responsibleDoctors:
        type: array
        items:
          type: object
          allOf:
           - $ref: '#/definitions/doctor'
        description: "Médico responsável pelo paciente"
      responsibleFamilyMembers:
        type: array
        items:
          type: object
          allOf:
           - $ref: '#/definitions/responsibleFamilyMember'
        description: "Familiar responsável pelo paciente"
      prescriptions:
        type: array
        items:
          type: object
          allOf:
           - $ref: '#/definitions/prescription'
        description: "Prescições médicas do paciente"
      isAtivo:
        type: boolean
        description: "Status do paciente"
        default: false
  
  doctor:
    description: "Médico"
    type: object
    required:
      - name
      - cpf
      - crmNumber
      - crmState
      - especiality
    properties:
      id:
        type: string
        format: uuid
        description: "Id do medico"
      name:
        type: string
        description: "Nome do medico"
      cpf:
        type: string
        description: "Cpf do medico"
      crmNumber:
        type: integer
        format: int64
        description: "CRM do medico"
      crmState:
        type: string
        description: "Estado do CRM do medico"
      especiality:
        type: string
        description: ""
      prescriptions:
        type: array
        items:
          type: object
          allOf:
           - $ref: '#/definitions/prescription'
        description: "Prescrições"
  
  prescription:
    description: "Prescricao Médica"
    type: object
    required:
      - drug
      - description
      - data
      - type
    properties:
      id:
        type: string
        format: uuid
        description: "Id da prescricao"
      drug:
        type: string
        description: "Medicamento"
      description:
        type: string
        description: "Descricao da prescricao"
      data:
        type: string
        format: date
        description: "Data da prescricao"
      doctorResponsible:
        type: object
        allOf:
         - $ref: '#/definitions/doctor'
        description: "Medico que prescreveu"
      type:
        type: string
        allOf:
        - $ref: '#/definitions/precriptionType'
        description: "Tipo de prescricao"
      statementOfReponsability:
        type: boolean
        description: "Termo de responsabildiade\n
          "
        default: false
      patient:
        type: object
        allOf:
         - $ref: '#/definitions/patient'
        description: "Paciente"
  
  responsibleFamilyMember:
    description: "Familiar Responsável"
    type: object
    required:
      - name
      - cpf
    properties:
      id:
        type: string
        format: uuid
        description: "Id do Familiar Responsável"
      name:
        type: string
        description: "Nome do Responsável"
      cpf:
        type: string
        description: "Cpf do responsável"
      kinship:
        type: string
        description: "Grau de parentesco"
  
  notifyUserEventPayload:
    description: "Represents a regular user event notification payload"
    discriminator: _discriminator
    type: object
    required:
      - notificationKind
      - notificationPriority
      - notificationSubject
      - notificationContent
      - sourceDomain
      - sourceService
      - destinationUser
      - _discriminator
    properties:
      notificationClass:
        type: string
        description: "Class of notification"
      notificationOrigin:
        type: string
        description: "Origin of notification. Free text. Optional."
      notificationKind:
        type: string
        allOf:
        - $ref: '#/definitions/userNotificationKind'
        description: "Notification kind."
      notificationPriority:
        type: string
        allOf:
        - $ref: '#/definitions/userNotificationPriority'
        description: "Notification priority."
      notificationSubject:
        type: string
        description: "Notification subject."
      notificationContent:
        type: string
        description: "Notification content."
      sourceDomain:
        type: string
        description: "Domain that generates the notification."
      sourceService:
        type: string
        description: "Service that generates the notification."
      destinationUser:
        type: string
        description: "Username of the destination user."
      link:
        type: string
        description: "Notification link"
      _discriminator:
        type: string
        description: ""
  
  emailNotifyUserEventPayload:
    description: "Represents an email notification payload"
    allOf:
    - $ref: '#/definitions/notifyUserEventPayload'
    -
      type: object
      required:
        - from
      properties:
        from:
          type: string
          description: "Email sender address"
        sendTo:
          type: array
          items:
            type: string
          description: "Additional recipients to send the email to"
        format:
          type: string
          allOf:
          - $ref: '#/definitions/eventEmailFormat'
          description: "Email format"
  
  pushNotifyUserEventPayload:
    description: "Represents a push notification payload"
    allOf:
    - $ref: '#/definitions/notifyUserEventPayload'
    -
      type: object
      required:
        - applicationId
      properties:
        applicationId:
          type: string
          description: "Apple/Google application id"
  
  blobReference:
    description: "Default blob reference type. Every service defines its own."
    type: object
    required:
      - targetObjectId
    properties:
      domainName:
        type: string
        description: "The domain the blob belongs to."
      serviceName:
        type: string
        description: "The service the blob belongs to."
      targetObjectId:
        type: string
        description: "The basic id of the blob."
      targetCopyId:
        type: string
        description: "The id of the blob copy."
  
  basicErrorPayload:
    description: "Default error payload type. Every service defines its own."
    type: object
    properties:
      message:
        type: string
        description: "The user-facing error message, if any."
      errorCode:
        type: string
        description: "The program-accessible (and service-specific) error code."
  
  importError:
    description: ""
    type: object
    required:
      - errorType
      - lineNumber
      - bean
      - message
      - exceptionClass
    properties:
      errorType:
        type: string
        allOf:
        - $ref: '#/definitions/errorType'
        description: ""
      lineNumber:
        type: integer
        format: int64
        description: ""
      bean:
        type: string
        description: ""
      message:
        type: string
        description: ""
      exceptionClass:
        type: string
        description: ""
  
  fielddto:
    description: ""
    type: object
    required:
      - id
      - name
      - fieldType
    properties:
      id:
        type: integer
        format: int64
        description: ""
      name:
        type: string
        description: ""
      fieldType:
        type: string
        allOf:
        - $ref: '#/definitions/fieldType'
        description: ""
      start:
        type: integer
        format: int64
        description: ""
      size:
        type: integer
        format: int64
        description: ""
      maskPattern:
        type: string
        description: ""
  
  hookdto:
    description: ""
    type: object
    required:
      - hookFunction
      - script
    properties:
      hookFunction:
        type: string
        allOf:
        - $ref: '#/definitions/hookFunction'
        description: ""
      script:
        type: string
        description: ""
  
  layoutdto:
    description: ""
    type: object
    required:
      - id
      - description
      - fileFormat
      - errorStrategy
      - skipLines
      - fields
    properties:
      id:
        type: integer
        format: int64
        description: ""
      description:
        type: string
        description: ""
      fileFormat:
        type: string
        allOf:
        - $ref: '#/definitions/fileFormat'
        description: ""
      errorStrategy:
        type: string
        allOf:
        - $ref: '#/definitions/errorStrategy'
        description: ""
      delimiter:
        type: string
        description: ""
      skipLines:
        type: integer
        format: int64
        description: ""
      fields:
        type: array
        items:
          type: object
          allOf:
           - $ref: '#/definitions/fielddto'
          minimum: 1
        description: ""
      hooks:
        type: array
        items:
          type: object
          allOf:
           - $ref: '#/definitions/hookdto'
        description: ""
  
  importReport:
    description: ""
    type: object
    required:
      - id
      - startTime
      - endTime
      - uri
      - beanClass
      - serviceClass
      - layout
      - sucessCount
      - errorsCount
      - filteredCount
      - skippedCount
    properties:
      id:
        type: string
        description: ""
      startTime:
        type: string
        format: date-time
        description: ""
      endTime:
        type: string
        format: date-time
        description: ""
      uri:
        type: string
        description: ""
      beanClass:
        type: string
        description: ""
      serviceClass:
        type: string
        description: ""
      layout:
        type: object
        allOf:
         - $ref: '#/definitions/layoutdto'
        description: ""
      sucessCount:
        type: integer
        format: int64
        description: ""
      errorsCount:
        type: integer
        format: int64
        description: ""
      filteredCount:
        type: integer
        format: int64
        description: ""
      skippedCount:
        type: integer
        format: int64
        description: ""
      importErrors:
        type: array
        items:
          type: object
          allOf:
           - $ref: '#/definitions/importError'
        description: ""
  
  exportEventStatus:
    description: ""
    type: object
    required:
      - importerId
      - eventType
      - recordCount
    properties:
      importerId:
        type: string
        description: ""
      eventType:
        type: string
        allOf:
        - $ref: '#/definitions/eventType'
        description: ""
      recordCount:
        type: integer
        format: int64
        description: ""
  
  importEventStatus:
    description: ""
    type: object
    required:
      - importerId
      - eventType
      - status
      - recordCount
    properties:
      importerId:
        type: string
        description: ""
      eventType:
        type: string
        allOf:
        - $ref: '#/definitions/eventType'
        description: ""
      status:
        type: string
        allOf:
        - $ref: '#/definitions/status'
        description: ""
      errorMessage:
        type: string
        description: ""
      recordCount:
        type: integer
        format: int64
        description: ""
      importReport:
        type: object
        allOf:
         - $ref: '#/definitions/importReport'
        description: ""
  
  exportConfig:
    description: ""
    type: object
    required:
      - uri
      - layout
      - async
      - errorStrategy
    properties:
      uri:
        type: string
        description: ""
      layout:
        type: object
        allOf:
         - $ref: '#/definitions/layoutdto'
        description: ""
      async:
        type: boolean
        description: ""
      errorStrategy:
        type: string
        description: ""
  
  importConfig:
    description: ""
    type: object
    required:
      - uri
      - layout
      - async
      - batchSize
      - errorStrategy
    properties:
      uri:
        type: string
        description: ""
      layout:
        type: object
        allOf:
         - $ref: '#/definitions/layoutdto'
        description: ""
      async:
        type: boolean
        description: ""
      batchSize:
        type: integer
        format: int64
        description: ""
      errorStrategy:
        type: string
        allOf:
        - $ref: '#/definitions/errorStrategy'
        description: ""
  
  dependency:
    description: "Represents a service dependency"
    type: object
    required:
      - domain
      - service
      - version
    properties:
      domain:
        type: string
        description: "Domain of the dependency service"
      service:
        type: string
        description: "Name of the dependency service"
      version:
        type: string
        description: "Version of the dependency service"

  genericError:
    properties:
      message:
        type: string
        description: Messaging describing the error.
      reason:
        type: string
        description: A symbolic code identifying the category of the reason of the error.
        enum:
          - BAD_REQUEST
          - UNAUTHORIZED
          - PAYMENT_REQUIRED
          - FORBIDDEN
          - OBJECT_NOT_FOUND
          - REQUEST_TIMEOUT
          - GONE
          - UNPROCESSABLE
          - INTERNAL_ERROR
          - NOT_IMPLEMENTED
          - SERVICE_UNAVAILABLE
          - INSUFFICIENT_STORAGE
